[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
requests = "*"
black = "*"
watchdog = "*"
python-socketio = {extras = ["client"], version = "*"}
eventlet = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
